* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
  
  }
    form {
      background-color: #ffffff;
      width: 500px;
      height: 44px;
      border-radius: 30px;
      display:flex;
      flex-direction:row;
      align-items:center;
      margin-top: 50px;
      margin-left: 300px;
    }
  
    input {
      all: unset;
      font: 16px system-ui;
      color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      padding: 6px 10px;
    }
  
    ::placeholder {
      color: rgb(0, 0, 0);
      opacity: 0.7; 
    }
  
    svg {
      color: rgb(0, 0, 0);
      fill: currentColor;
      width: 24px;
      height: 24px;
      padding: 10px;
    }
  
    button {
      all: unset;
      cursor: pointer;
      width: 44px;
      height: 44px;
    }
  .header{
      display: flex;
      flex-direction: row;
      background-color: #000000;
      border-bottom: 1px solid #dfbef3; 
      height: 15%;
  }
  .header h2{
    margin-top: 60px;
    position: relative;
    left: 100px;
    cursor: pointer;   
  }
  .logo{
      width: 150px;
      
  }

  .join{
       width:70px;
       margin-left: 10px;
       position: relative;
       left: 10px;
       top: 40px;
  }




  .dropdown {
    position: relative;
    display: inline-block;
    top:65px;
    left:60px;


}
  
.dropdown-content a{
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
    
    
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.952);
    padding: 18px 26px;
    z-index: 1;
    width:max-content;


  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropdown-content:hover{
    background-color: rgb(177, 177, 0);
    border-radius: 5%;

  }
  .carticon{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    margin-left: 40px;
    cursor: pointer;
}
.profile{
    width:40px;
    height: 40px;
    margin-top: 50px;
    margin-left: 240px;
    cursor: pointer;
    
}
  body{
      background-color: #000000;
       
  }
.content{
    text-align: center;
}
.card img{
    width: 150px;
}
.card1 img{
    width: 410px;
}
.list{
    display: flex;
    margin-top: 50px;
    padding-bottom: 30px
}
.list1{
  display: flex;

}
.card p, .card1 p{
    color: white;
    width: 80%;
    margin-left: 80px;
    margin-top: 20px;
   
}
.card i, .card1 i{
    color: white;
    margin-top: 20px;
    font-size: 40px;
    padding: 5px;   
}
.card i:hover, .card1 i:hover{
      color: rgb(255, 0, 255);
      transform: scale(1.3);
}

