* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
  
  }
    form {
      background-color: #ffffff;
      width: 500px;
      height: 44px;
      border-radius: 30px;
      display:flex;
      flex-direction:row;
      align-items:center;
      margin-top: 50px;
      margin-left: 300px;
    }
  
    input {
      all: unset;
      font: 16px system-ui;
      color: rgb(0, 0, 0);
      height: 100%;
      width: 100%;
      padding: 6px 10px;
    }
  
    ::placeholder {
      color: rgb(0, 0, 0);
      opacity: 0.7; 
    }
  
    svg {
      color: rgb(0, 0, 0);
      fill: currentColor;
      width: 24px;
      height: 24px;
      padding: 10px;
    }
  
    button {
      all: unset;
      cursor: pointer;
      width: 44px;
      height: 44px;
    }
  .header{
      display: flex;
      flex-direction: row;
      background-color: #000000;
      border-bottom: 1px solid #BFBFBF; 
      height: 15%;
  }

  .header h2{
    margin-top: 60px;
    position: relative;
    left: 100px;
    cursor: pointer;   
  }
  .logo{
      width: 150px;
      
  }
  .dropdown {
    position: relative;
    display: inline-block;
    top:65px;
    left:60px;


}
  
.dropdown-content a{
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.952);
    padding: 18px 26px;
    z-index: 1;
    width: 200px;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropdown-content:hover{
    background-color: rgb(199, 1, 94);
    border-radius: 5%;

  }
  .carticon{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    margin-left: 40px;
    cursor: pointer;
}
.carticon:hover{
    background-color:rgb(199, 1, 94);
    border-radius: 30%;
}
.profile{
    width:40px;
    height: 40px;
    margin-top: 50px;
    margin-left: 240px;
    cursor: pointer;   
}
.profile:hover{
    background-color: rgb(199, 1, 94);
    border-radius: 30%;
}
  body{
      background-color: #000000;
  }
  .card{
    margin-left: 100px;
  }
.card h2{
        color: white;
        font-size: 20px; 
        width: 100%;
        padding: 7px;
        text-align: center;         
}
.logo1{
    width: 400px;
}
.logo1:hover{
    transform: scale(1.1);
}
.content{
    display: flex;
    margin-top: 20px;
    flex-direction: row;

}
.card p{
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    text-align: center;   
}
.rightside h2{
     text-align: center;
    position: relative;
    left:100px;
}

.rightside p{
    color: #ffffff;
    font-size: 20px;
    position: relative;
    left: 100px;
    top: 10px;
    padding: 3px;
}
.rightside button{
         background-color: rgb(199, 1, 94);
         color: white;
         width: 60%;
         margin-top: 30px;
         border-radius: 10px;
         position: relative;
         left: 100px;
         padding-left: 10px;
}
.second-right h1{
    position: relative;
    left: 500px;
    font-size: 40px;
    top: 10px;       
}
.lyric p{
    color: white;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
}
.lyric p:hover{
    color: black;
}
.lyric{
    width:100% ;
    border:1px solid rgb(50, 50, 50);
    position: relative;
    left: 400px;
    top: 20px;
    padding: 20px;
    background-color:rgba(199, 6, 96, 0.733);
    border-radius: 20px;
}
.second-right{
    width: 21%;
}
.similar img{
        width: 200px;    
        padding:3px;
        margin-left: 150px;        
}
.similar img:hover{
    background-color: rgb(255, 22, 131);
    border-radius: 10px;
    width: 15%;
}
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
  
  
  
body {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
  
}

.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color:  rgb(115, 0, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
    margin-top: 10px;

}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;
}
.title1,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.title1:hover,
.artist:hover {
    text-decoration: underline;
}
.artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.progress-bar:hover .progress{
    background-color: var(--green-color);
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}
.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
}


