* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;

}
form {
  background-color: #ffffff;
  width: 400px;
  padding: 8px;
  border-radius: 10px;
  display:flex;
  flex-direction: row;
  align-items: center;  
}
.search{
  background-color: #222222;
  border-radius: 20px;
  padding: 14px;
}

input {
  all: unset;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

  ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7; 
  }

  svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  .header{
    display: flex;
    flex-direction: row;
    background-color:#000000;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #333333;
    

}

.logo{
    width: 150px;
    
}
.dropdown {
  display: inline-block;
  background-color: #222222;
      border-radius: 10px;
      padding: 10px;
      position: relative;
      left: 50px;
  
  }

.dropdown-content a{
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.952);
  padding: 18px 26px;
  z-index: 1;
  width: 240px;
  font-size: 16px;
  font-weight: 600;
  

}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content:hover{
  background-color: rgb(161, 161, 161);
  border-radius: 5%;

}
.profile{
  width: 45px
}
.carticon{
  width: 40px;  
  cursor: pointer;
  position: relative;
  right: 20px;
 
}
::-webkit-scrollbar{
  display: none;
}
body{
    background-color: #000000;

}
.title{
    text-align: center;
    color: #8c6969;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;

}
.trackimage{
    width: 110px;
}
.trackimage:hover{
    transform: scale(1.02)

}
.item h2{
    color: #ffffff;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: min-content;


}
.item p{
  color: white;
  display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 19px;
    text-align: left;
    background-color:rgba(30, 30, 30, 0.63);
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: anywhere;
    height: 100px;
    overflow-y: auto;

}
.container{
    width: 300px;
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content:space-between;
   align-items: center;
    flex-direction: row;
    margin-top: 50px;
    background-color: rgba(30, 30, 30, 0.63);
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;

}
.pricetag{
  background-color: rgb(25, 25, 25);
  color: white;
  font-weight: 500;
  font-size: larger;
  border-radius: 10px;
  width: 5%;
  text-align: center;
  
  
  
}
.remove{
  background-color: rgb(120, 0, 0);
  color: black;
  font-weight: 600;
  font-size: larger;
  
  width: 10%;
  text-align: center;
  border-radius: 10px;
  
}

.below{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}
.section {
    position: relative;
    top: 70px;
    margin-left: 40px;
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
  }
  .section:hover{
    transform:scale(1.01);
    transition: 0.5s;

  }
  
  .section h1 {
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    color: rgba(251, 244, 192, 0.877);
    width: 100%;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

  }


  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    opacity: 0.1;
    
  }
  .card-number{
       background-color:#E5B8F4;
       width: 100%;
       padding: 7px;
       text-align: start;
       align-items: center;
       border-radius: 10px;
       cursor: pointer white ;
  }
  .btn{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  input::placeholder{
            align-items: center;
            display: flex;
            flex-direction: column;   
  }
  .btn1{
            background-color: rgba(44, 44, 44, 0.861);
            color: white;
            padding: 2px;
            border-radius: 10px;
            border: none;
            width: 35%;
            text-align: center;
            font-weight: 600;
            position: relative;
            left: 80px;
            
            
  }

  .btn1:hover{
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
  }
  .logo1{
    width: 60px;
    height: 60px;
    position: relative;
    top: 130px;
    right:40px
  }
  .rightside img{
      padding: 7px;
  }