
body {
    margin: 0px; padding:0px;
    text-align:center;
    background-color: black;
    font-family:'Poppins', sans-serif;
    background-image: url(../img/2022_Dribbble_Zidler.gif);
    background-size:auto;
    
}

.popup{
    background-color:#FFFFFF;
    border-radius: 10%;
}

.total{
    padding: 10px;
    text-align: center;

}
.select1 button{
           border-radius: 10px;
           background-color: orange;
           font-weight: 400;
           border: none;
           padding: 15px;
}
.select1 button:hover{
         color: rgb(108, 70, 0);
         cursor: pointer;
         
}
.select2 button{
       border-radius: 10px;
       padding: 12px;
       border: none;
       margin-left: 10px;     
}
.space{
    padding: 10px;

}
.space1{
    padding: 10px;
    margin-right: 5px;
}

.space2{
    margin-right: 38px;

}
.section {
    
    width: 100%;
    height: 100%;
    
  }
  .section .popup {
    text-align: center;
    position: absolute;
    left: 500px;
    top: 150px;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    color: black;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .section .popup:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }


  

